################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.cache
*.ide-shm
*.ide-wal
.vs
Source/LAS/.vs
Source/LAS/LAS.csproj.user
Source/LAS/obj
Source/LAS/Properties/AssemblyInfo.cs
LAS.rar
1.*/Assemblies/LAS.pdb
1.*/Assemblies/LAS.dll
